body {
  background-image: url("/img/rm.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#navDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #4EAFAC;
  padding: 10px;
}

#navDiv p {
  border: 3px solid #EECA4A;
  color: #A03D53;
  background-color: white;
  padding: 4px 12px;
  margin: 0;
}

#navDiv p:hover {
  background-color: #EECA4A;
  color: #4EAFAC;
}

#navDiv p:active {
  background-color: #A03D53;
  color: white;
}

#cardContainer {
  /* max-width: 700px;  */
  max-width: 80%;
  background: rgba(255, 255, 255, 0.75); 
  backdrop-filter: blur(4px); 
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

#column {
  max-height: 500px; 
  overflow-y: auto;
}

#centerPiece {
  width: 100%;
}

#cards {
  width: 70%;
  height: 80%;
}
