body {
  background-image: url("/img/rm.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#navDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #4EAFAC;
  padding: 20px;
  border: 1px solid black;
}

#navDiv a {
  display: inline-block;
  text-decoration: none;
  border: 3px solid #EECA4A;
  color: #A03D53;
  background-color: white;
  font-size: larger;
  font-weight: bold;
  padding: 15px 30px;
  margin: 0;
}

#navDiv a:hover {
  background-color: #EECA4A;
  color: #4EAFAC;
}

#navDiv a.active {
  background-color: #A03D53;
  color: white;
}

#cardContainer {
  max-width: 50%;
  background: white; 
  backdrop-filter: blur(4px); 
  box-shadow: 0 0 20px rgba(0,0,0,0.30);
  border: 1px solid black;
}

#column {
  max-height: 90%; 
  overflow-y: auto;
}

#centerPiece {
  width: 100%;
  height: 100%;
}

#cards {
  width: 70%;
  height: 100%;
    border: 1px solid black;
}
